<div class="col-12 col-md-6 mt-3" data-aos="fade-in" data-aos-duration="2000" data-aos-easing="ease-in-out"> 
    <img src="{{ MEDIA_URL }}img/content/coffee8.jpg" class="img-fluid"
         alt="coffee-img">  
</div>

<div class="col-12 col-md-6 mt-3 our-principles">
    <h3 class="text-center main-heading text-salmon">Our&nbsp;principles</h3>
    <ul class="list-unstyled about-paragraph text-center"></ul>
        <li><i class="mr-3 icon-green"></i>We partner with only the best and most sustainable coffee growers</li>
        <li><i class="mr-3 icon-green"></i>We give back, investing in developing communities </li>
        <li><i class="mr-3 icon-green"></i>Only the Highest Quality Products</li>
        <li><i class="mr-3 icon-green"></i>Customer and Employee Oriented</li>
        <li><i class="mr-3 icon-green"></i>Sustainability and Food safety.</li>
    </ul>
</div>