<div class="col-12 order-last col-md-6 order-md-first mb-3 mt-3 right-align our-principles"> 
    <img src="{{ MEDIA_URL }}img/content/ourmission7.jpg" class="img-fluid"
         alt="coffee-img">  
</div>

<div class="col-12 order-first col-md-6 order-md-last mb-3 mt-3 our-principles our-principles-text">
    <h3 class="text-center main-heading text-salmon">Our&nbsp;principles</h3>
    <ul class="list-unstyled about-paragraph text-center">
        <li><i class="mr-3 icon-green"></i>We partner with only the best and most sustainable coffee growers</li>
        <li><i class="mr-3 icon-green"></i>We give back, investing in developing communities </li>
        <li><i class="mr-3 icon-green"></i>Only the Highest Quality Products</li>
        <li><i class="mr-3 icon-green"></i>Customer and Employee Oriented</li>
        <li><i class="mr-3 icon-green"></i>Sustainability and Food safety.</li>
    </ul>
</div>