<div class="col-12 col-md-6 col-lg-5 mb-3 our-mission">
    <h3 class="text-center main-heading text-salmon">Our&nbsp;Mission</h3>
    <p  class = "text-center about-paragraph mt-lg-4">
        Our company is more than just another exciting coffee shop. We’ve got the desire to make a 
        real difference in the world improving it one cup at a time.
        <br>We believe we can make an impact in several ways:

    <ul class="list-unstyled about-paragraph text-center"></ul>
        <li><i class="mr-3"></i>Improving the reputation of coffee, which is a low-calorie beverage that is very high in antioxidants. We aim to increase its consumption and help to decrease the amount of unhealthy substitutes like energy drinks and juices.</li>
        <li><i class="mr-3"></i>Make known amazing beans that will for sure become popular among coffee lovers.</li>
        <li><i class="mr-3"></i>Partnering with developing growers that have great coffee products, always with a  win-win mentality in mind.</li>
        <li><i class="mr-3"></i>Always striving to offer the best experience four our clients and employees.</li>
    </ul>
    </p> 
</div>
<div class="col-12 col-md-6 col-lg-7 mb-3 right-align" data-aos="fade-in" 
    data-aos-duration="2000" data-aos-easing="ease-in-out">
    <img src="{{ MEDIA_URL }}img/content/ourmission-xl.jpg" class="img-fluid" alt="our-team">
</div>
