<div class="col-12 col-md-6 mt-3" data-aos="fade-in" data-aos-duration="1000"
     data-aos-easing="ease-in-out" >
    <img src="{{ STATIC_URL }}img/home/ourmission-xl.jpg" class="img-fluid"
         alt="matcha-tea-with-heart">  
         <img src="/workspace/Top_Notch_Coffee/static/img/home/coffee3.jpg">

</div>

<div class="col-12 col-md-6 mt-3">
    <h3 class="text-center main-heading text-salmon">Our&nbsp;principles</h3>
    <ul class="list-unstyled landing-paragraph text-center"></ul>
        <li><i class="fas fa-arrow-right mr-3 icon-green"></i>Only the Highest Quality Products</li>
        <li><i class="fas fa-arrow-right mr-3 icon-green"></i>Customer and Employee Oriented</li>
        <li><i class="fas fa-arrow-right mr-3 icon-green"></i>We give back, investing in our community and </li>
        <li><i class="fas fa-arrow-right mr-3 icon-green"></i>We are dedicated to sustainability, food safety, and the wellness of our supply chain and customers.</li>
        <li><i class="fas fa-arrow-right mr-3 icon-green"></i>We foster a sustainable business spirit with our coffee growers that includes reward for their use of sustainable practices and extended quality of their product</li>
    </ul>
</div>