<div class="col-12 col-md-6 col-lg-5 order-0 mb-3 mt-3 who-we-are">
    <h3 class="text-center main-heading text-salmon">Who&nbsp;We&nbsp;Are</h3>
    <p class = "text-center about-paragraph mt-lg-4">
        <strong>Top&nbsp;Notch&nbsp;Coffee</strong>  is a company created from Coffee Lovers to Coffee Lovers.
    </p>
    <p class = "text-center about-paragraph mt-lg-4">
        We are a 100% Irish company serving premium coffee since 1980. 
        <br>We import our high-quality coffee beans from Colombia and Brazil and roast them five days a week at our facilities in Dublin, Cork and London.<br> 
        We have been collaborating with the best coffee organic farms in developed countries to give back to this beautiful world while selling Top Notch Coffee Beans.
        With every purchase you make, we give back 10% of your purchase to coffee growing developing communities
    </p>
</div>
<div class="col-12 col-md-6 col-lg-7 order-1 mb-3 mt-3 who-we-are" data-aos="fade-in" 
    data-aos-duration="2000" data-aos-easing="ease-in-out">
    <img src="{{ MEDIA_URL }}img/content/ourpeople.jpg" class="img-fluid" alt="our-team">
</div>