<div class="col-12 col-md-6 col-lg-5 mb-3">
    <h3 class="text-center main-heading text-salmon">Who&nbsp;We&nbsp;Are</h3>
    <p class = "text-center landing-paragraph mt-lg-4">
        <strong>Top&nbsp;Notch&nbsp;Coffee</strong>  is a Coffee created from Coffee Lovers to Coffee Lovers.
    </p>
    <p class = "text-center landing-paragraph mt-lg-4">
        Top Notch Coffee is a 100% Irish company serving premium coffee to since 1980. With every purchase you make, we give back 10% of your purchase to seleceted charities.
        We import our high-quality coffee beans from Colombia and Brazil and roast 5 days a week at our facilities in Dublin, Cork and London. UT. 
        We work to create a sustainable business for our family, friends, and the local community we live and run our coffee business in.  
        We have been collaborating with the best coffee organic farms in developed countries to give back to this beautiful world while selling Top Notch Coffee Beans.
    </p>
</div>
<div class="col-12 col-md-6 col-lg-7 mb-3" data-aos="fade-in" 
    data-aos-duration="2000" data-aos-easing="ease-in-out">
    <img src="{{ STATIC_URL }}img/about/our-team.jpg" class="img-fluid" alt="our-team">
</div>