{% extends "base.html"%}
{% load static %}
{% block extra_title %}- Home{% endblock %}

{% block content%}

<!--Main Image and Buttons section-->
{% include 'home/includes/main_image_and_buttons.html' %}

<!--Company Info section-->
{% include 'home/includes/companyinfo.html' %}

<!--Quote section-->
{% include 'home/includes/quote_section.html' %}

<!--Benefits section-->
{% include 'home/includes/benefits_section.html' %}

<!--Shop section-->
{% include 'home/includes/shop_section.html' %}

<!--Review section-->
{% include 'home/includes/reviews_section.html' %}



{% endblock %}