{% extends "base.html"%}
{% load static %}
{% block extra_title %}- Home{% endblock %}

{% block content%}

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

<!--Main Image and Buttons section-->
{% include 'home/includes/main_image_and_buttons.html' %}

<!--Quote section-->
{% include 'home/includes/quote_section.html' %}

<!--Company Info section-->
{% include 'home/includes/companyinfo.html' %}

<!--Benefits section-->
{% include 'home/includes/benefits_section.html' %}

<!--Shop section-->
{% include 'home/includes/shop_section.html' %}

<!--Review section-->
{% include 'home/includes/reviews_section.html' %}



{% endblock %}