<div class="col-12 col-lg-5 ">
    <h4 class=" mb-3 font-weight-bold">Art of Tea</h4>
    <p><i class="fas fa-map-marker-alt mr-3 icon-green"></i>
    39 Bachelors Walk, Dublin 1, 
    <br/>Dublin, Republic of Ireland </p>
    <p><i class="fas fa-phone-alt mr-3 icon-green"></i><a href="tel:+35393434334" class="email-phone-link"> +35393434334</a></p>
    <p><i class="fas fa-envelope mr-3 icon-green"></i>
        <a href="mailto:santiagoyanez@mailbox.org?subject=TopNotchCoffeeRequest" class="email-phone-link">Test@test.com</a>
    </p>
</div>   
<div class="col-12 col-lg-7 text-left w-100"  
    data-aos="fade-up" data-aos-duration="1000" 
    data-aos-easing="ease-in-out">   
<div id="map"></div>
</div> 