<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=coffee" class="dropdown-item">Year-Round Coffee</a>
                <a href="{% url 'products' %}?category=sustainable_coffee" class="dropdown-item">Sustainable Coffee</a>
                <a href="{% url 'products' %}?category=coffee,sustainable_coffee" class="dropdown-item">All Coffee</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffeeware & Barista Supplies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=coffee_accessories" class="dropdown-item">Cofeeware</a>
                <a href="{% url 'products' %}?category=barista_supplies" class="dropdown-item">Barista Supplies</a>
                <a href="{% url 'products' %}?category=coffee_accessories,barista_supplies" class="dropdown-item">Coffeeware & BS</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tea & Others
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=tea" class="dropdown-item">Tea</a>
                <a href="{% url 'products' %}?category=chocolate" class="dropdown-item">Chocolate</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=bundles" class="dropdown-item">Bundles</a>
                <a href="{% url 'products' %}?category=sale" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=bundles,sale" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <li class="nav-item nav-item-header mr-5">
            <a class="nav-link nav-link-header uppercase text-white {% if request.get_full_path == '/contact/' %}active-nav-link{% endif %}" 
                href="{% url 'contact' %}">Contact
            </a>
        </li>
    </ul>
</div>