<div class="container" data-aos="fade-up" data-aos-duration="1100">
    <div class="row" >
        <div class="col text-center span-benefits-container">
            <span class="span-benefits uppercase px-5 py-3">our&nbsp;Benefits</span>
        </div>
    </div>
    <div class="row mt-5 text-center benefits-section">
    <!--Your choice-->
        <div class="col-sm-12 col-md-6 mt-lg-3 px-lg-3" data-aos="fade-up-right" data-aos-duration="1500">
            <h4  class="main-heading">
                Best Coffee Quality
            </h4>
            <img src="{{ MEDIA_URL }}img/content/quality.png" alt="icon-tea-leaf">
            <p class="mt-4 mb-4 px-lg-5 benefits-paragraph">
                You can chose from the finest tea selection from our Chineese and Japaneese suppliers.
                We care about the quality of our teas!
            </p>
        </div>
        <!--Our Coffee experts-->
        <div class="col-sm-12 col-md-6 px-lg-3" data-aos="fade-up-left" data-aos-duration="1200">
            <h4  class="main-heading">
                Our Coffee Experts
            </h4>
            <img src="{{ MEDIA_URL }}img/content/coffeeexperts.png" alt="icon-tea-master">
            <p class="mt-4 mb-4 px-lg-5 benefits-paragraph">
                We have the best coffee experts that are always striving to pick the best Beans for you, Coffee Lovers.
                We also organise events to learn how to correctly make coffee and many of its cool varieties. 
                You will forever change your perception of coffee.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 px-lg-3" data-aos="fade-up-right" data-aos-duration="1200">
            <h4 class="main-heading">
                Giving Back
            </h4>
            <img src="{{ MEDIA_URL }}img/content/yourchoice.png" alt="icon-heart-in-heands">
            <p class="mt-4 mb-4 px-lg-5 benefits-paragraph">
                We donate 5% of all sales to developing countries' coffee growers communities. We also strive to create long term relationships that benefit everybody with them.
            </p>
        </div>
        <!--We are flexible-->
        <div class="col-sm-12 col-md-6 mt-lg-3 px-lg-3" data-aos="fade-up-left" data-aos-duration="1500">
            <h4  class="main-heading">
                Environmentally Sustainable
            </h4>
            <img src="{{ MEDIA_URL }}img/content/flexible.png" alt="icon-teapod">
            <p class="mt-4 mb-4 px-lg-5 benefits-paragraph">
                All our packaging is fully biodegradable, so you will not only enjoy amazing beans but help to create a sustainable world in the process.
            </p>
        </div>
    </div>
</div>