<div class = "container mb-3"  data-aos="fade-up" data-aos-duration="2000">
    <h2 class="text-center pt-5 main-heading">Amazing Coffee & Coffeeware in Dublin</h2>
    <hr class="w-50 mt-4">
    <div class="row pt-md-5 text-center mb-lg-5">
        <div class="col-md-12 col-lg-5 pr-md-5">
            <p class = "landing-paragraph mb-lg-5 mt-lg-5"> 
                <strong>Top Notch Coffee</strong> is a refuge for Coffee Lovers from Europe where they can enjoy the best beans from all over the world.
            </p>
            <p class = "landing-paragraph">
                Check our <strong>Amazing Coffee</strong> Beans and Coffeeware. 
            </p>
            <div class="text-lg-left mt-4 mb-3 mb-md-0">
                <a href="{% url 'about' %}" class="btn companyinfo-button uppercase px-3" target="_blank">Learn&nbsp;more</a>
            </div>
        </div>

        <div class="col-md-12 col-lg-7 ">
            <img src="{{ MEDIA_URL }}img/content/coffee9.jpg" class="img-fluid coffeeimg9" alt="ourcoffeeproducts-img">
        </div>
    </div>
</div>