<section class="hero-image">
    <div class="landing-text px-2">
        <h1 class="display-2 text-black uppercase landing-main-heading mb-5">
        Top&nbsp;Notch&nbsp;Coffee
        </h1>
        <h5 class = "text-black mt-3 sub-heading mb-5">
            Explore the amazing world of coffee with us
        </h5>
        <div class = "mt-5">
            <a  href="{% url 'contact' %}" 
                class="btn btn-fullblack rounded-0 pt-3  mt-2 mr-lg-3 landing-button uppercase text-black">
                Contact&nbsp;Us&nbsp;!
            </a>
            <a href="{% url 'products' %}" 
               class="btn btn-fullblack rounded-0 pt-3 mt-2 landing-button uppercase text-black">
               Buy&nbsp;Our&nbsp;Excellent&nbsp;Coffee
            </a>
        </div>
    </div>
</section>