<div class="quote-section px-2 pb-4 text-center">
    <h3 class="text-center main-heading quote-heading pt-5 text-white"> Thoughts&nbsp;from Within&nbsp;a Mug. By Alicia D Clarke
    </h3>
    <div class="blockquote  text-white pt-5 pr-2" data-aos="fade-up" data-aos-duration="1000">
       "coffee, so delicate, yet so simple.

       it can give you the highest of buzzes,
       
       to the deepest of thoughts.
       
       coffee is a blank canvas.
       
       the drinker is the artist.
       
       splashing vibrant coats of sugar and milk, creamer flowing from brushes. spoons clanking and stirring a beautiful picture.
       
       creating one of a kind work.
       
       to each cup of coffee his own."<br/>
        <em class="blockquote-footer text-white pt-1 pb-5 pb-md-0">Osho</em>
    </div>
</div>