<div class="container reviews-container text-center border-bottom py-4" data-aos="fade-up" 
    data-aos-duration="2000">
    <h2 class="text-center pt-5 main-heading">Our Customers Love Us</h2>
    <div id="reviews-carousel" class="carousel slide" data-ride="false" data-interval="false">
        <ol class="carousel-indicators text-black">
            <li data-target="#reviews-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#reviews-carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active carousel-item-review">
                <div class="row mt-4">
                    <div class="col-sm-12 col-md-4 mb-3">
                        <img src="{{ MEDIA_URL }}img/content/JoaoRego.PNG" alt="userreview-photo" 
                            class="rounded-circle review-user-avatar">
                    </div>
                    <div class="col-sm-12 col-md-8 review-content">
                        <p>
                            <i class="fas fa-quote-left"></i>
                            Best coffee in town! Great variety of beans and fully compliant with the environment. This is really the perfect combination.
                            <i class="fas fa-quote-right"></i>
                        </p>
                        <p class="text-right font-italic">-Joao Rego</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-item-review">
                <div class="row mt-4">
                    <div class="col-sm-12 col-md-4 mb-3">
                        <img src="{{ MEDIA_URL }}img/content/cesarolivas.PNG" alt="userreview-photo" 
                            class="rounded-circle review-user-avatar">
                    </div>
                    <div class="col-sm-12 col-md-8 review-content">
                        <p>
                            <i class="fas fa-quote-left"></i>
                           Amazing Products from Better People. Outstanding Customer Service, will be a customer for life
                            <i class="fas fa-quote-right"></i>
                        </p>
                        <p class="text-right font-italic">- Cesar Olivas</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Previous/Next buttons-->
        <a class="carousel-control-prev" href="#reviews-carousel" role="button" data-slide="prev">
            <i class="fas fa-chevron-left chevron-black" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#reviews-carousel" role="button" data-slide="next">
            <i class="fas fa-chevron-right chevron-black" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>